{% extends "base.html" %}
 
{% block body %}
  <form name='submit-form' action="#" method="POST">
  <input
   placeholder = "Load (0kg)" 
   id = "load",
   name="load",
   type="number"
  />


  <input
   placeholder = "Required Speed (140m/s)" 
   id = "req_speed",
   name="req_speed",
   type="number"
  />


  <input
   placeholder = "Base mass (35,000kg)" 
   id = "base_mass",
   name="base_mass",
   type="number"
  />


  <input
   placeholder = "Force of engines (100k)" 
   id = "force",
   name = "force",
   type="number"
  />
<input type="submit" value="Submit">
</form>

  <h3 id="distance">Distance:  </h3>
  <h3 id="time">Time:  </h3>
  <br>
  <h3 id="warning">Warning: </h3>
  <!-- <script src="static/scripts.js"></script> -->
 
{% endblock %}