<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <title>Calculator</title>
  <meta name="description" content="A calculator for calculating take off distance and time">
  <meta name="author" content="Dan Lvov">
  <!-- <link rel="icon" href="/favicon.ico"> -->
  <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
  {% block body %}{% endblock %}
</body>
</html>